@page

@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h4 class="h4 border-bottom pb-1 m-2">Selezione corsi di formazione top</h4>

<vc:carousel-card max-slide="4" source-type="DbContext"></vc:carousel-card>
